PORT=3000
MEILI_HOST=http://127.0.0.1:7700
MEILI_API_KEY=your_master_key_here
JWT_SECRET=replace_with_a_long_random_secret
SMTP_HOST=smtp.qq.com
SMTP_PORT=465
SMTP_USER=your_qq_email@example.com
SMTP_PASS=your_smtp_auth_code
MAIL_FROM=吟心 <your_qq_email@example.com>

# 你希望读取 Commits 的目标仓库，例如 Caylex09/yin-xin（如果不同请改为你的用户名/仓库名）
GITHUB_REPO=你的组织或者用户名/你的私有仓库名

# 你的 GitHub Personal Access Token
# 前往 GitHub -> Settings -> Developer Settings -> Personal access tokens (经典或细粒度) 创建一个具有 `repo` 读取权限的 Token 填在这里
GITHUB_PAT=ghp_xxxxxxxxxxxxxxxxxxxx